* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}

nav a {
  color: black;
  font-size: small;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  padding: 1rem;
  border: black solid 1px;
}

input,
button {
  margin: 0.25rem;
  flex: 1;
}

li,
div,
h2 {
  padding: 0.75rem;
}

a {
  flex: 2;
}

.selected {
  padding: 0.75rem;

  background-color: teal;
}

.selected > a {
  color: white;
}

.bookmarks {
  display: flex;
  justify-content: space-around;
}
